* {
    box-sizing: border-box;
  }
  

body {
    font-family: Arial;
    padding: 10px;
     background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5));
  }
  .contact_body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5));
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  }
  
  /* Header/Blog Title */
  .header {
    background-image: url('desk2.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 30px;
    border: 2px solid black;
   
  }
  .headerText1{
    position: absolute;
    text-shadow: 2px 2px 4px #faf9f9;
    top: 10%;
    right: 13%;
    transform: translate(-50%, -50%);
  }
  .headerText2{
    text-shadow: 2px 2px 4px#faf9f9;
    font: 80px sans-serif; 
    position: absolute;
    top: 20%;
    right: 14%;
    transform: translate(-50%, -50%);
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .homepagebuttons{/*navagation buttons size and color*/
	background-color: rgb(173, 191, 194);
  text-shadow: 2px 2px 4px#1a0808;
	border-radius: 8px;
	font-size: 1em;
	padding: 10px 20px;
	transition-duration: 0.04s;
	border: 2px solid white;
}
.homepagebuttons:hover{/*navagation buttonscolor change on hover*/
	background-color: rgb(31, 27, 27);
  text-shadow: 2px 2px 4px beige;
	color:beige;
}
  /* Create three unequal columns that floats next to each other on index page */
.column1 {
  float: left;
  
  
}

/* Left and right column */
.column1.side {
  
  border: 2px solid black;
  
}

/* Middle column */
.column1.middle {
  width: 45%;
  border: 2px solid black;
}



  
  /* Create two unequal columns that floats next to each other */
/* Left column */

.leftcolumn {   
    border: 2px solid black;
    float: left;
    width: 65%;
    margin-top: 10px;
  }
  
  /* Right column */
  .rightcolumn {
    border: 2px solid black;
    float: right;
    background-color: #f1f1f1;
    padding: 2px;
    margin-top: 10px;
  }

       
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 10px;
    margin-top: 0px;
  }
  .card_1{
    margin-left: 17%;
    margin-right: 17%;
    border: 2px solid black;
  }
  .card_page_title{
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    margin-top: 0px;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 .footer{
  text-align: center;
 } 
/* SIP page*/

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
 
  .SIP_discription{
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 10px;    
    margin-top: 10px;
  }

  /* contact page */
  .contactPage{
    border: 2px solid black;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    
  }

  form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
  }
  .form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(5, 0, 0);
    color: rgb(10, 0, 0);
    font-size: 18px;
    margin-bottom: 16px;
  }
  input{
    height: 45px;
  }
  form .submit{
    background: rgb(173, 191, 194);
    text-shadow: 2px 2px 4px#1a0808;
    color: rgb(10, 0, 0);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
		padding: 10px 20px;
    transition-duration: 0.04s;
    border: 2px solid rgb(11, 0, 0);
    border-radius: 8px;
  }
  form .submit:hover{
    background-color: rgb(31, 27, 27);
    text-shadow: 2px 2px 4px beige;
    color:beige;
    cursor: pointer;
  }



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .form-control {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column, .column1.middle, .column1.side, .form-control{
      width: 100%;
    }
  }
